 <main>
        <div class="filter">
            
            <div class="filter-container">
                <div class="back" onclick="goback()">
                    <img src="/images/back.png">
                </div>
                <div class="roomID">
                    <h1 id="roomNum">{{lab.roomNum}}</h1>
                </div>
                <div class="date-container">
                    <label for="date-input">Date: </label>
                    <input type="date" id="date-input" name="date">
                </div>

                <div class="timeframe-container">
                    <label for="timeSelect">TimeSlots: </label>
                    <select id="timeSelect">
                        <!-- Options will be generated dynamically here -->
                    </select>   
                </div>

            </div>
        </div>
    
        
        <div class="room-container">

        {{#nestedLoop lab.numCols}}
            <div class="column" id="C{{outerIndex}}">
                {{#times ../lab.seats}}
                    <button class="row" id="C{{../outerIndex}}  S{{this}}">C{{../outerIndex}}S{{this}}</button>
                {{/times}}
            </div>
        {{/nestedLoop}}

            
        </div>  

    </main>